* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  /* image from https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg */
  background: url(./astronomy.png) center no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -473px;
  margin-left: -525px;
}

.background-red {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 946px;
  width: 1050px;
  background-color: red;
  border-radius: 20px;
}

.header-top, .header {
  
  font-size: 30px;
  color: gold;
  font-family: monospace;
  font-style: italic;
  font-weight: bolder;
}

.header-top {
  margin-bottom: 6px;
}

.header {
  margin-bottom: 14px;
}

.grid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  color: black;
  background-color: gainsboro;
  margin-bottom: 14px;
  font-size: 14px;
  height: 34px;
  width: 92px;
  border: 3px solid gold;
  border-radius: 7px;
}

.grid-button:hover {
  color: gold;
  background-color: black;
}

.background-grey {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
  margin-bottom: 14px;
  background-color: gainsboro;
  border: 8px solid gold;
  border-radius: 10px;
}

.square {
  background-color: white;
  border: 1px solid black;
}

.square-black {
  background-color: black;
  border: 1px solid white;
}

.square-red {
  background-color: red;
  border: 1px solid black;
}

.square-orange {
  background-color: orange;
  border: 1px solid black;
}

.square-yellow {
  background-color: yellow;
  border: 1px solid black;
}

.square-green {
  background-color: green;
  border: 1px solid black;
}

.square-blue {
  background-color: blue;
  border: 1px solid black;
}

.square-indigo {
  background-color: indigo;
  border: 1px solid black;
}

.square-violet {
  background-color: violet;
  border: 1px solid black;
}

:root {
  --color: 
}

.square-random {
  background-color: var(--color);
  border: 1px solid black;
}

.interface-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  height: 146px;
  width: 500px;
}

.button-red, .button-orange, .button-yellow, .button-green, .button-blue, .button-indigo, .button-violet, .button-white, .button-black, .button-random {
  height: 34px;
  width: 92px;
  margin-bottom: 14px;
  border: 3px solid gold;
  border-radius: 7px;
}

.button-red:hover, .button-orange:hover, .button-yellow:hover, .button-green:hover, .button-blue:hover, .button-indigo:hover, .button-violet:hover, .button-white:hover, .button-black:hover, .button-random:hover {
border-color: black;
}

.button-red {
  background-color: red;
}

.button-orange {
  background-color: orange;
}

.button-yellow {
  background-color: yellow;
}

.button-green {
  background-color: green;
}

.button-blue {
  background-color: blue;
}

.button-indigo {
  background-color: indigo;
}

.button-violet {
  background-color: violet;
}

.button-black {
  background-color: black;
}

.button-white {
  background-color: white;
}

.button-random {
  /* image from https://cdn.pixabay.com/photo/2014/04/04/14/56/background-313415__340.jpg */
  background: url(./background.png) center;
  background-size: 80px 200px;
}